<div class="main_top">
  <div class="chat_name"><%= @room.name%></div>
  <div class="delete_button">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_middle">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'main_bottom', local: true do |f|%>
  <div class="form">
    <%=f.text_field :content, class: "form_message", placeholder: "type a message"%>
    <label>
      <span class="form_image">画像</span>
      <%= f.file_field :image, class: "file"%>
    </label>  
  </div>
  <%= f.submit '送信', class: "form_send" %>
<% end %>